body, html {
    height: 100%;
    margin: 0;
}
.bg {
    background-image: url("background.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#commit {
    text-align: center;
    padding: 1em;
    margin: 1em;
    height: 1em;
    background-color: white;
    vertical-align: center;
}

img {
    height: 8em;
    padding: 0.2em;
}

.img-icon {
    height: 16px;
    vertical-align: middle;
}