@font-face {
    font-family: 'Andes';
    src: url('andes-webfont.woff2') format('woff2'),
         url('andes-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%;
    margin: 0;
    text-align: center;
    align-content: center;
}
.bg {
    background-image: url("background.jpg");
    max-height: 100%;
    height: auto; 
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

#commit {
    text-align: center;
    padding: 1em;
    width: 80%;
    background-color: azure;
    display:inline-block;
    margin: 0.5em auto;
}

#titulo {
    margin: 0.2em auto;
    font-family: 'Andes';
    font-size: 4em;
    color: azure;
    text-align: center;
}

img {
    height: 7em;
    padding: 0.2em;
}

.img-icon {
    height: 16px;
    margin: -4px 0;
    vertical-align: middle;
}


